.widget {
    background: $light-blue;
}

.widget__message {
    color: $off-white;
    font-size: $s-size;
    text-align: center;
    padding: $l-size;
    margin: 0;
}

.widget-header {
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title {
    margin : 0;
}